#content{
    display: flex;
    justify-content: space-between;
    margin: 50px 7%;
}
/*==LEFT-CART*/

#left-cart table tr td div{
    margin:auto;
}
#left-cart table tr td{
    margin-right: 150px;
}
#left-cart table tr th{
    padding-right: 70px;
}
.a-text{
    text-decoration: none;
    color: black;

}
.a-text:hover{
    color: #CC2121;
}
.back-to-shop{
    margin-top: 30px;
}
.back-to-shop a{
    text-decoration: none;
    color:#CC2121;
    font-weight: bold;
    border: 2px solid #CC2121;
    padding: 5px 20px;
}
.back-to-shop a:hover{
    color:white;
    background-color: #CC2121;
}

/*==RIGHT-CART*/
.cart-totals tr th{
    padding-bottom: 20px;
}
.cart-totals tr td{
    padding: 5px 0px;
}
.cart-totals div{
    height: 50px;
    margin-top: 30px;
}
.cart-totals div a{
    text-decoration: none;
    color: white;
    background-color:black;
    font-weight: bold;
    padding: 10px 70px;
}
.cart-totals div:hover a{
    background-color: #CC2121;
}
.vouchers input{
    height: 35px;
    padding-left: 15px;
    width: 335px;
    margin-top: 20px;
    outline: none;
}