#content{
    background-image: url(/resources/img/flower-banner.jpg);
    height: 600px;
    background-size: cover;
}
#shop-introduce{
    text-align: center;
}
.p1{
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
}
.p2{
    font-size: 20px;
    margin-top: 15px;
}
#founder-introduce{
    display: flex;
    justify-content: space-around;
    margin: 35px 20%;
}
#founder-introduce div{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0.4px #888888;
    background-color:white ;
}
#founder-introduce div a img{
    height: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #888888;
}
#founder-introduce div p a{
    font-size: 15px;
    text-decoration: none;
    color: #1c1c1c;
}
#founder-introduce a{
    font-weight: bold;
}
#founder-introduce div p a:hover{
    color: #CC2121;
}
