*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    scroll-behavior: smooth; 
}
ul, li{
    list-style-type: none;
}

/*=========================================================
                        HEADER
===========================================================*/
#header{
    height: 70px;
    width: 100%;
    background-color: rgb(247, 214, 219);
    display: flex;
    justify-content: space-between;
    position:fixed;
    box-shadow: 0px 0px 5px 0.4px #888888;
    z-index:1;
}

/*=====LOGO=====*/
#logo{
    width: 15%;
    display: flex;
    justify-content: center;
}
#logo a img{
    height: 70px;
}

/*=====MENU=====*/
#main-menu{
    width: 50%;
}
#main-menu{
    display: flex;
    justify-content: space-around;
}
#main-menu li{
    position: relative;
}
#main-menu >li >a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    opacity: 0.7;
    line-height: 70px;
    font-size: 13px;
}
#main-menu >li >a:hover{
    color: #CC2121;
    opacity: 1;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: rgb(247, 214, 219);
    width: 200px;
    left: -15px;
}
.sub-menu{
    height: 200px;
    display: none;
}
.sub-menu li{
    height: 40px;
    border-bottom: 1px solid white;
}
.sub-menu li:last-child{
    border-bottom: none;
}
.sub-menu li a{
    text-decoration: none;
    opacity: 0.5;
    line-height: 40px;
    font-size: 14.4px;
    padding-left: 15px;
    color:black;
}
.sub-menu li:hover{
    background-color: #f5f1f1;
}
#main-menu li:hover .sub-menu{
    display: block;
}

/*=====OTHERS=====*/
#others{
    width: 35%;
    display: flex;
    justify-content:space-between;
}

#search-box{
    height: 30px;
    width: 60%;
    margin: auto;
    border-radius: 33px;
    background-color:rgb(247, 214, 219);
    transition: all 0.5s ease-in-out;
}
#search-text{
    height: 30px;
    border:none;
    outline: none;
    width: 0;
    transition: all 0.5s ease-in-out;
}
#search-btn{
    border: none;
    padding: 7px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 50%;
    float: right;
    background-color:rgb(247, 214, 219);
}
#search-box:hover{
    background-color: white;
}
#search-box:hover #search-btn{
    background-color: white;
}
#search-box:hover #search-text{
    background-color:white;
    width: 85%;
    padding: 10px 5px 10px 15px;
    border-radius: 33px;
}
.user{
    margin: auto;
    cursor: pointer;
}
.user:hover{
    color: #CC2121;
    font-size: 18px;
}
.cart{
    margin: auto;
    cursor: pointer;
    width: 25%;
}
.cart:hover{
    color: #cc2121;
    font-size: 18px;
}


/*=========================================================
                        CONTENT
===========================================================*/
#content{
    z-index: 0;
}

/*=====BANNER=====*/
.fill-banner{
    position: relative;
}
.fill-banner img{
    width: 100%;
}
.text-box{
    position: absolute;
    top: 200px;
    left: 70px;
}
.text-box h3{
    font-family: 'Water Brush', cursive;
    color: rgb(240, 133, 195);
    font-weight: lighter;
    font-size: 40px;
}
.text-box h2{
    font-size: 45px;
    color: #1C1C1C;
    margin-bottom: 35px;
}
.text-box a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 10px 20px;
    background-color: #CC2121;
}
.text-box a:hover{
    background-color: #1C1C1C;
}

.other-banners{
    display: flex;
    justify-content: space-around;
    margin: 70px;
}
.other-banners img{
    width: 370px;
    height: 282px;
    opacity: 0.7;
}
.other-banners img:hover{
    opacity: 0.3;
}
.banner img{
    position: relative;
}
.banner-text{
    position: absolute;
    top: 750px;
    margin-left: 130px;
    text-align: center;
}
.banner-text h2{
    font-size: 28px;
}
.banner-text a{
    text-decoration: none;
    color: #1C1C1C;
    font-size: 12px;
    font-weight: bold;
    width: 30px;
    border-bottom: 1px solid black;
}
.banner-text a:hover{
    width: 70px;
    padding: 5px;
    border-bottom: 1px solid #1C1C1C;
    font-size: 13px;
    color:#CC2121;
}


.icons{
    display: flex;
    justify-content: space-around;
    margin: 0px 30px;
}
.icon{
    display: flex;
    justify-content: left;
}
.icon img{
    height: 50px;
    width: 50px;
}
.icon p{
    margin: 10px 10px;
}

/*=====PRODUCTS=====*/
.products{
    margin: 20px;
}
.products h2{
    text-align: center;
    margin-bottom: 20px;
}
.products h3{
    text-align: center;
    margin-bottom: 30px;
    font-weight: lighter;
}
.line-products{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.line-products img{
    border: 1px solid rgb(204, 203, 203);
}
.line-products p{
    color:#CC2121;
    padding: 5px;
}
.line-products a{
    text-decoration: none;
    color:#1C1C1C;
    padding: 5px;
}
.line-products a:hover{
    color: #CC2121;
}

.more{
    margin: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.more a{
    text-decoration: none;
    font-weight: bold;
    color:white;
    background-color: #CC2121;
    padding: 10px 15px;
}
.more a:hover{
    background-color: #1C1C1C;
}
/*=========================================================
                        FOOTER
===========================================================*/
#footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    z-index: 0;
}
#footer h3{
    margin-bottom: 20px;
}
#footer img{
    margin-top: 10px;
}
#footer div i{
    margin-top: 10px;
}
#footer ul li{
    margin-top: 10px;
}
#footer ul li:hover a{
    color:#CC2121;
}
#footer ul li a{
    text-decoration: none;
    color: black;
}
.copyright-footer{
    text-align:center;
    height: 50px;
    line-height: 50px;
    font-size: 14.4px;
    background-color:#E1E1E1;
    color: #555555;
    margin-top: 80px;
}